app/templates/auth/ask-code.pug
extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Mira en tu correo electrónico
            p.important Necesitamos que verifiques tu dirección de correo electrónico. Hemos enviado un correo a coralcancio@gmail.com con un código de 6 dígitos que caducará en 15 minutos. Escríbelo aquí debajo.

        .up-code#up-code
            mixin up-code-num
                input(type="text" maxlength="1").up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num

        .up-actions.up-actions--vertical
            a.button Continuar
            a.button.button--nude Volver
        p.legend
            | ¿No has recibido el correo? Mira en tus carpetas de correo no deseado y de spam.
            a reenviar
block bottom-scripts
    script.
        function codeCheck("up-code");

app/templates/html/auth/ask-code.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"> <h1 class="title">Mira en tu correo electrónico</h1><p class="important">Necesitamos que verifiques tu dirección de correo electrónico. Hemos enviado un correo a coralcancio@gmail.com con un código de 6 dígitos que caducará en 15 minutos. Escríbelo aquí debajo.</p></header><div class="up-code" id="up-code"><input class="up-code-num" type="text" maxlength="1"><input class="up-code-num" type="text" maxlength="1"><input class="up-code-num" type="text" maxlength="1"><input class="up-code-num" type="text" maxlength="1"><input class="up-code-num" type="text" maxlength="1"><input class="up-code-num" type="text" maxlength="1"></div><div class="up-actions up-actions--vertical"><a class="button">Continuar</a><a class="button button--nude">Volver</a></div><p class="legend">¿No has recibido el correo? Mira en tus carpetas de correo no deseado y de spam.<a>reenviar</a></p></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>function codeCheck("up-code");</script></body></html>
