app/templates/html/auth/change-password.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"> <h1 class="title">Crear una contraseña nueva</h1><p class="important">Esto reemplazará a la contraseña que usas par iniciar sesión.</p></header><div class="fo-line"><div class="fo-iw fo-iw--psw"><div class="fo-iw-icon"><img class="fo-iw-icon__el" src="{% static 'img/icons/eye.svg' %}"><img class="fo-iw-icon__el fo-iw-icon__el--sec" src="{% static 'img/icons/eye--off.svg' %}"></div><input class="fo-iw__input fo-iw__input--deactivated" id="password" type="password" placeholder="test" required><span class="legend fo-iw__help fo-iw__help--show">Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.</span><div class="fo-psw_str"><div class="fo-psw_str__bar"></div><span class="fo-psw_str__text">Floja</span></div></div></div><div class="up-checkbox">   <input id="agreement" type="checkbox"><label for="agreement">Cerrar sessión en todos los dispositivos</label></div><div class="up-actions up-actions--vertical"><a class="button">Continuar</a><a class="button button--nude">Cancelar</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>psShow("password");
psCheck("password");</script></body></html>

app/templates/auth/change-password.pug
extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Crear una contraseña nueva
            p.important Esto reemplazará a la contraseña que usas par iniciar sesión.
        .fo-line
            .fo-iw.fo-iw--psw
                .fo-iw-icon
                    img.fo-iw-icon__el(src="{% static 'img/icons/eye.svg' %}")
                    img.fo-iw-icon__el.fo-iw-icon__el--sec(src="{% static 'img/icons/eye--off.svg' %}")
                input.fo-iw__input.fo-iw__input--deactivated#password(type="password" placeholder="test" required)
                span.legend.fo-iw__help.fo-iw__help--show Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.
                div.fo-psw_str
                    .fo-psw_str__bar
                    span.fo-psw_str__text Floja
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label(for="agreement") Cerrar sessión en todos los dispositivos
        .up-actions.up-actions--vertical
            a.button Continuar
            a.button.button--nude Cancelar

block bottom-scripts
    script.
        psShow("password");
        psCheck("password");
