app/templates/html/auth/login-2.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><aside class="up-inter_wrap" id="Iniciando sessión..."><div class="up-inter"><div class="up-inter-anim"></div><div class="up-inter-txt"><p class="title">¡Tardamos un momento, no te muevas!</p><p class="subtitle"></p></div></div></aside><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"> <h1 class="title">Escribe tu contraseña</h1><p class="important">de tu cuenta lorem@lorem.com</p></header><div class="fo-line"><div class="fo-iw fo-iw--psw"><div class="fo-iw-icon"><img class="fo-iw-icon__el" src="{% static 'img/icons/eye.svg' %}"><img class="fo-iw-icon__el fo-iw-icon__el--sec" src="{% static 'img/icons/eye--off.svg' %}"></div><input class="fo-iw__input fo-iw__input--deactivated" id="password" type="password" placeholder="test" required></div></div><div class="up-actions up-actions--vertical"><a class="button">Continuar</a><a>He olvidado mi contraseña</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>psShow("password");</script></body></html>

app/templates/auth/login-2.pug
extends /_includes/base.pug
block body
    +up-inter("Iniciando sessión...","¡Tardamos un momento, no te muevas!")
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Escribe tu contraseña
            p.important de tu cuenta lorem@lorem.com
        .fo-line
            .fo-iw.fo-iw--psw
                .fo-iw-icon
                    img.fo-iw-icon__el(src="{% static 'img/icons/eye.svg' %}")
                    img.fo-iw-icon__el.fo-iw-icon__el--sec(src="{% static 'img/icons/eye--off.svg' %}")
                input.fo-iw__input.fo-iw__input--deactivated#password(type="password" placeholder="test" required)
        .up-actions.up-actions--vertical
            a.button Continuar
            a He olvidado mi contraseña
block bottom-scripts
    script.
        psShow("password");
        
        
