app/templates/auth/payment-method.pug
extends /_includes/base.pug
block body
    +up-inter("id2","Modificando tu método de pago","¡Casi ya estamos!")
    +up-modal("id1","Lorem Ipsum", "Lorem Ipsum", "Lorem Ipsum", "Lorem Ipsum")
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Cambiar método de pago
            p.important Esto reemplazará el método con el que se realizan los pagos.
        p.legend Método actual: *********5048
        //-stripe shit!
        .up-actions.up-actions--vertical
            a.button(onclick="modalFire('id1')") Modificar método de pago

block bottom-scripts
    script.

app/templates/html/auth/payment-method.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><aside class="up-inter_wrap" id="id2"><div class="up-inter"><div class="up-inter-anim"></div><div class="up-inter-txt"><p class="title">Modificando tu método de pago</p><p class="subtitle">¡Casi ya estamos!</p></div></div></aside><aside class="up-modal_wrap" id="id1"><div class="up-modal"><p class="smalltitle">Lorem Ipsum</p><p class="legend">Lorem Ipsum</p><div class="up-actions up-actions--rtl"><a class="button button--nude" onclick="modalUnfire(&quot;id1&quot;)">Cancelar</a><a class="button" href="Lorem Ipsum">Lorem Ipsum</a></div></div></aside><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"> <h1 class="title">Cambiar método de pago</h1><p class="important">Esto reemplazará el método con el que se realizan los pagos.</p></header><p class="legend">Método actual: *********5048</p><div class="up-actions up-actions--vertical"><a class="button" onclick="modalFire('id1')">Modificar método de pago</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script></script></body></html>
