app/templates/html/auth/register-1.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"><p class="legend">Paso 1 de 3</p><h1 class="title">Introduce tu correo eléctronico</h1></header><div class="fo-line"><div class="fo-iw"><input class="fo-iw__input fo-iw__input--deactivated" type="email" placeholder="Correo eléctronico" required></div></div><div class="up-checkbox">   <input id="agreement" type="checkbox"><label class="legend" for="agreement">Quiero recibir por correo eléctronico ofertas y actualizaciones de rmover.</label></div><div class="up-actions up-actions--vertical"><p class="legend">X usará tus datos para personalizar y mejorar tu experiencia en la plataforma. Puedes cambiar tus preferencias de comunicación en cualquier momento. Podemos usar tus datos como se describe en nuestra Política de privacidad. Al hacer click en “Continuar”, reconoces que has leido nuestra Politica de privacidad, Politica de cookies.</p><a class="button">Aceptar y continuar</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>

app/templates/auth/register-1.pug
extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 1 de 3
            h1.title Introduce tu correo eléctronico
        .fo-line
            .fo-iw
                input.fo-iw__input.fo-iw__input--deactivated(type="email" placeholder="Correo eléctronico" required)
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label.legend(for="agreement") Quiero recibir por correo eléctronico ofertas y actualizaciones de rmover.
        .up-actions.up-actions--vertical
            p.legend X usará tus datos para personalizar y mejorar tu experiencia en la plataforma. Puedes cambiar tus preferencias de comunicación en cualquier momento. Podemos usar tus datos como se describe en nuestra Política de privacidad. Al hacer click en “Continuar”, reconoces que has leido nuestra Politica de privacidad, Politica de cookies.
            a.button Aceptar y continuar
            
