app/templates/auth/register-2.pug
extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 2 de 3
            h1.title Contrato de servicio
        .up-legal_txt.customscroll
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
        .up-actions.up-actions--vertical
            p.legend Al hacer click en “Aceptar y continuar”, aceptas nuestro “Contrato de servicio".
            a.button Aceptar y continuar
            

app/templates/html/auth/register-2.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"><p class="legend">Paso 2 de 3</p><h1 class="title">Contrato de servicio</h1></header><div class="up-legal_txt customscroll"><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.</p><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.</p><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.</p></div><div class="up-actions up-actions--vertical"><p class="legend">Al hacer click en “Aceptar y continuar”, aceptas nuestro “Contrato de servicio".</p><a class="button">Aceptar y continuar</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
