app/templates/html/auth/register-3.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><aside class="up-inter_wrap" id="Comprobando que todo está en su sitio..."><div class="up-inter"><div class="up-inter-anim"></div><div class="up-inter-txt"><p class="title">¡Tardamos un momento, no te muevas!</p><p class="subtitle"></p></div></div></aside><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><img class="up-logo" src="{% static 'img/logo.svg' %}"><header class="up-header"><p class="legend">Paso 3 de 3</p><h1 class="title">Crea una contraseña</h1><p class="important">para tu cuenta lorem@lorem.com</p></header><div class="fo-line"><div class="fo-iw fo-iw--psw"><div class="fo-iw-icon"><img class="fo-iw-icon__el" src="{% static 'img/icons/eye.svg' %}"><img class="fo-iw-icon__el fo-iw-icon__el--sec" src="{% static 'img/icons/eye--off.svg' %}"></div><input class="fo-iw__input fo-iw__input--deactivated" id="password" type="password" placeholder="test" required><span class="legend fo-iw__help fo-iw__help--show">Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.</span><div class="fo-psw_str"><div class="fo-psw_str__bar"></div><span class="fo-psw_str__text">Floja</span></div></div></div><div class="up-actions up-actions--vertical"><a class="button">Continuar</a></div></form><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>psShow("password");
psCheck("password");</script></body></html>

app/templates/auth/register-3.pug
extends /_includes/base.pug
block body
    +up-inter("Comprobando que todo está en su sitio...","¡Tardamos un momento, no te muevas!")
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 3 de 3
            h1.title Crea una contraseña
            p.important para tu cuenta lorem@lorem.com
        .fo-line
            .fo-iw.fo-iw--psw
                .fo-iw-icon
                    img.fo-iw-icon__el(src="{% static 'img/icons/eye.svg' %}")
                    img.fo-iw-icon__el.fo-iw-icon__el--sec(src="{% static 'img/icons/eye--off.svg' %}")
                input.fo-iw__input.fo-iw__input--deactivated#password(type="password" placeholder="test" required)
                span.legend.fo-iw__help.fo-iw__help--show Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.
                div.fo-psw_str
                    .fo-psw_str__bar
                    span.fo-psw_str__text Floja
      
        .up-actions.up-actions--vertical
            a.button Continuar

block bottom-scripts
    script.
        psShow("password");
        psCheck("password");
