app/templates/background_remover/br.pug
extends /_includes/base.pug
block body-tb
    article.br
        .br-row.br-row--upload
            .br-bar
                .br-bar-head
                    span.important Imagenes por procesar
            .br-up
                img(src="{% static 'img/icons/upload.svg' %}")
                div.br-up-msg
                    span Arrastra o pulsa para
                    a.button.button--small Subir imagen
                span.br-up-msg-advise Puedes subir imagenes en jpg, png o webp de hasta 50mb
        .br-row.br-row--list
            .br-bar
                .br-bar-head
                    button.br-circle_sel
                        img(src="{% static 'img/icons/done.svg' %}")
                    span.important Imagenes procesadas
                .br-bar-action_list
                    button.br-bar-action
                        img(src="{% static 'img/icons/download.svg' %}")
                        span Download
                    button.br-bar-action
                        img(src="{% static 'img/icons/delete.svg' %}")
                        span Delete
                    button.br-bar-action
                        img(src="{% static 'img/icons/alert.svg' %}")

            .br-img_list
                mixin img
                    a.br-img
                        button.br-img__sel.br-circle_sel
                            img(src="{% static 'img/icons/done.svg' %}")
                        img.br-img__el(src="{% static 'img/girl-back.jpg' %}")
                        button.br-img__del
                            img(src="{% static 'img/icons/delete.svg' %}")
                        img.br-img__down(src="{% static 'img/icons/download.svg' %}")
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
block bottom-scripts

app/templates/html/background_remover/br.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="br"><div class="br-row br-row--upload"><div class="br-bar"><div class="br-bar-head"><span class="important">Imagenes por procesar</span></div></div><div class="br-up"><img src="{% static 'img/icons/upload.svg' %}"><div class="br-up-msg"><span>Arrastra o pulsa para</span><a class="button button--small">Subir imagen</a></div><span class="br-up-msg-advise">Puedes subir imagenes en jpg, png o webp de hasta 50mb</span></div></div><div class="br-row br-row--list"><div class="br-bar"><div class="br-bar-head"><button class="br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><span class="important">Imagenes procesadas</span></div><div class="br-bar-action_list"><button class="br-bar-action"><img src="{% static 'img/icons/download.svg' %}"><span>Download</span></button><button class="br-bar-action"><img src="{% static 'img/icons/delete.svg' %}"><span>Delete</span></button><button class="br-bar-action"><img src="{% static 'img/icons/alert.svg' %}"></button></div></div><div class="br-img_list"><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a><a class="br-img"><button class="br-img__sel br-circle_sel"><img src="{% static 'img/icons/done.svg' %}"></button><img class="br-img__el" src="{% static 'img/girl-back.jpg' %}"><button class="br-img__del"><img src="{% static 'img/icons/delete.svg' %}"></button><img class="br-img__down" src="{% static 'img/icons/download.svg' %}"></a></div></div></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
