app/templates/video/item.pug
extends /_includes/base.pug
block head-scripts
block body-tb
    .ve
        video(id="player" playsinline controls)
        .vi-header
            .vi-header-main
                span.vi-header-main__intro.subtitle Lorem Ipsum
                h1.vi-header-main__title.supertitle Lorem Ipsum
                span.vi-header-main__when Disponible hasta el 21 de mayo de 2021
                .vi-header-main-share
                    span.vi-header-main-share__title Compartir
                    ul.vi-header-main-share-item_list
                        mixin share-link(href, icon)
                            li.vi-header-main-share-item
                                a.vi-header-main-share-item__anchor(href= href)
                                    img(src="{% static 'img/icons/"+ icon +".svg' %}")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                    
            .vi-header-intro
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum neque at quam luctus, non hendrerit justo aliquam. Sed augue orci, tincidunt eget ullamcorper sollicitudin, venenatis eu felis. Mauris metus nunc, viverra et sagittis eu, dignissim in nulla. 
        +list-group("title")(class="vi-group--brand")
                +list-item("title1", "what", "when", "anchor")
                +list-item("title2", "what", "when", "anchor")
                +list-item("title3", "what", "when", "anchor")
                +list-item("title4", "what", "when", "anchor")
                +list-item("title5", "what", "when", "anchor")
                +list-item("title6", "what", "when", "anchor")
                +list-item("title7", "what", "when", "anchor")
                +list-item("title8", "what", "when", "anchor")
        +list-group("title")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")


block bottom-scripts
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    script(src="https://cdn.plyr.io/3.6.9/plyr.js")
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
    script.
        let video1 = {
            url: 'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8',
            poster: 'https://bitdash-a.akamaihd.net/content/sintel/poster.png',
            start: 0,
            autoplay: true
        }
        let video2 = {
            url: 'https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8',
            start: 0
        }
        plyr("player", video1)
        lswipper();
    

app/templates/html/video/item.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><div class="ve"><video id="player" playsinline controls></video><div class="vi-header"><div class="vi-header-main"><span class="vi-header-main__intro subtitle">Lorem Ipsum</span><h1 class="vi-header-main__title supertitle">Lorem Ipsum</h1><span class="vi-header-main__when">Disponible hasta el 21 de mayo de 2021</span><div class="vi-header-main-share"><span class="vi-header-main-share__title">Compartir</span><ul class="vi-header-main-share-item_list"><li class="vi-header-main-share-item"><a class="vi-header-main-share-item__anchor" href="action"><img src="{% static 'img/icons/facebook-square.svg' %}"></a></li><li class="vi-header-main-share-item"><a class="vi-header-main-share-item__anchor" href="action"><img src="{% static 'img/icons/facebook-square.svg' %}"></a></li><li class="vi-header-main-share-item"><a class="vi-header-main-share-item__anchor" href="action"><img src="{% static 'img/icons/facebook-square.svg' %}"></a></li><li class="vi-header-main-share-item"><a class="vi-header-main-share-item__anchor" href="action"><img src="{% static 'img/icons/facebook-square.svg' %}"></a></li><li class="vi-header-main-share-item"><a class="vi-header-main-share-item__anchor" href="action"><img src="{% static 'img/icons/facebook-square.svg' %}"></a></li></ul></div></div><div class="vi-header-intro"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum neque at quam luctus, non hendrerit justo aliquam. Sed augue orci, tincidunt eget ullamcorper sollicitudin, venenatis eu felis. Mauris metus nunc, viverra et sagittis eu, dignissim in nulla. </p></div></div><div class="vg-group vi-group--brand"><h2 class="vg-group__title smalltitle">title</h2><div class="vg-list"><button class="vg-list-act vg-list-act--next"><img class="vg-list-act__img" src="{% static 'img/icons/chevron_right.svg' %}"></button><button class="vg-list-act vg-list-act--prev"><img class="vg-list-act__img" src="{% static 'img/icons/chevron_left.svg' %}"></button><div class="vg-list-wrapper"><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title1</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title2</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title3</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title4</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title5</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title6</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title7</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title8</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div></div></div></div><div class="vg-group"><h2 class="vg-group__title smalltitle">title</h2><div class="vg-list"><button class="vg-list-act vg-list-act--next"><img class="vg-list-act__img" src="{% static 'img/icons/chevron_right.svg' %}"></button><button class="vg-list-act vg-list-act--prev"><img class="vg-list-act__img" src="{% static 'img/icons/chevron_left.svg' %}"></button><div class="vg-list-wrapper"><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div></div></div></div></div><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script><script src="https://cdn.plyr.io/3.6.9/plyr.js"></script><script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script><script>let video1 = {
    url: 'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8',
    poster: 'https://bitdash-a.akamaihd.net/content/sintel/poster.png',
    start: 0,
    autoplay: true
}
let video2 = {
    url: 'https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8',
    start: 0
}
plyr("player", video1)
lswipper();</script></body></html>
