app/templates/video/search.pug
extends /_includes/base.pug
block head-scripts
block body-tb
    .vs
        .vs-input
            input.fo-iw__input.fo-iw__input--deactivated(type="search")
        span.vs__msg Lo sentimos, no hay resultados con esta busqueda
        +list-group("title")(class="vi-group--search")
            +list-item("title1", "what", "when", "anchor")
            +list-item("title2", "what", "when", "anchor")
            +list-item("title3", "what", "when", "anchor")
            +list-item("title4", "what", "when", "anchor")
            +list-item("title5", "what", "when", "anchor")
            +list-item("title6", "what", "when", "anchor")
            +list-item("title7", "what", "when", "anchor")
            +list-item("title8", "what", "when", "anchor")
            +list-item("title7", "what", "when", "anchor")
            +list-item("title8", "what", "when", "anchor")
block bottom-scripts

app/templates/html/video/search.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><div class="vs"><div class="vs-input"><input class="fo-iw__input fo-iw__input--deactivated" type="search"></div><span class="vs__msg">Lo sentimos, no hay resultados con esta busqueda</span><div class="vg-group vi-group--search"><h2 class="vg-group__title smalltitle">title</h2><div class="vg-list"><div class="vg-list-wrapper"><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title1</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title2</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title3</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title4</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title5</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title6</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title7</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title8</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title7</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div><div class="ve"><img class="ve__img" src="{% static 'img/examples/girl-top.jpg' %}"><h3 class="bold ve-title"><a class="ve-title__anchor" href="anchor">title8</a></h3><div class="ve-info"><span class="ve-info__what">what</span><span class="ve-info__when">when</span></div></div></div></div></div></div><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
