app/templates/user_panel/cancel-2.pug
extends /_includes/base.pug
block body-tb
    article.up
        +up-back("href")
        header.up-header 
            h1.title ¿Estas seguro?
            p.important Subscription allows all unused credits to roll over month by month. We save them all up for you.

        p.important If you cancel your subscription you will lose all of them.

        .up-actions.up-actions--vertical
            a.button.button--nude Seguir disfrutando
            a.button No, gracias. Cancelar rmover
        p.legend.up-advise ???? La cancelación se hará efectiva al finalizar el periodo de facturación actual el 11 de mayo de 2021.

app/templates/html/user_panel/cancel-2.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="up-header"> <h1 class="title">¿Estas seguro?</h1><p class="important">Subscription allows all unused credits to roll over month by month. We save them all up for you.</p></header><p class="important">If you cancel your subscription you will lose all of them.</p><div class="up-actions up-actions--vertical"><a class="button button--nude">Seguir disfrutando</a><a class="button">No, gracias. Cancelar rmover</a></div><p class="legend up-advise">???? La cancelación se hará efectiva al finalizar el periodo de facturación actual el 11 de mayo de 2021.</p></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
