app/templates/user_panel/comunication.pug

extends /_includes/base.pug

block body-tb
    form.up
        +up-back("href")
        header.up-header 
            h1.title Configuración de comunicación
            p.important Dirigidos a: lorem@lorem.com
        
        p.legend Estando suscrito a nuestras comunicaciones, podrás estar al dia de todo lo que sucede en rmover. Entre ellas:
        ul.up-list
            li Noticias
            li Promociones 
            li Ofertas especiales 
            li Servicios
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label(for="agreement") Quiero recibir las comunicacioens de rmover.
        p.legend Nota: Las comunicaciones relacionadas con la cuenta no se ven alteradas. Los cambios pueden tardar unas horas en aplicarse.
        .up-actions
            button.button(type="submit" value="Submit") Actualizar
            a.button.button--nude Volver


        

app/templates/html/user_panel/comunication.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><form class="up"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="up-header"> <h1 class="title">Configuración de comunicación</h1><p class="important">Dirigidos a: lorem@lorem.com</p></header><p class="legend">Estando suscrito a nuestras comunicaciones, podrás estar al dia de todo lo que sucede en rmover. Entre ellas:</p><ul class="up-list"><li>Noticias</li><li>Promociones </li><li>Ofertas especiales </li><li>Servicios</li></ul><div class="up-checkbox">   <input id="agreement" type="checkbox"><label for="agreement">Quiero recibir las comunicacioens de rmover.</label></div><p class="legend">Nota: Las comunicaciones relacionadas con la cuenta no se ven alteradas. Los cambios pueden tardar unas horas en aplicarse.</p><div class="up-actions"><button class="button" type="submit" value="Submit">Actualizar</button><a class="button button--nude">Volver</a></div></form><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
