app/templates/user_panel/cover.pug

extends /_includes/base.pug
block body-tb

    article.uc
        header.uc-header
            h1.supertitle Cuenta
        section.uc-s
            header.uc-s-header
                h2.title Balance
            div.uc-s-info
                div.uc-s-info-part
                    h3.important Suscripción
                    p 98 imagenes
                    p.legend Las proximas imagenes llegan el 10 del 10
                    p.legend.uc-s-info-part__msg Lorem Ipsum
                div.uc-s-info-part
                    h3.important Saldo
                    p 22 imagenes
            div.uc-s-actions
                a.button.button--nude(href="") Iniciar suscripción
                a.button.button--nude(href="") Historial de imagenes
        section.uc-s
            header.uc-s-header
                h2.title Detalles
            div.uc-s-info
                div.uc-s-info-part
                    h3.important lorem@lorem.com
                    p *******
                    p.legend.uc-s-info-part__msg Lorem Ipsum
            div.uc-s-actions
                a.button.button--nude(href="") Cambiar correo
                a.button.button--nude(href="") Cambiar contraseña
                a.button.button--nude(href="") Cerrar sessión en todos los dispositivos
        section.uc-s
            header.uc-s-header
                h2.title Pagos y suscripción
            div.uc-s-info
                div.uc-s-info-part
                    h3.important lorem@lorem.com
                    p 100 fotos al mes | x€ al mes
                    p.legend.uc-s-info-part__msg Lorem Ipsum
                div.uc-s-info-part
                    h3.important Lorem Ipsum Dolor Sit 
                    p 679534017
                    p Llinars 213
                    p Cardedeu
                    p 08844
                    p Barcelona, Spain
                    p 65768448S
            div.uc-s-actions
                a.button.button--nude(href="") Modificar método de pago
                a.button.button--nude(href="") Modificar suscripción
                a.button.button--nude(href="") Modificar información de facturación
                a.button.button--nude(href="") Historial de facturación

app/templates/html/user_panel/cover.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="uc"><header class="uc-header"><h1 class="supertitle">Cuenta</h1></header><section class="uc-s"><header class="uc-s-header"><h2 class="title">Balance</h2></header><div class="uc-s-info"><div class="uc-s-info-part"><h3 class="important">Suscripción</h3><p>98 imagenes</p><p class="legend">Las proximas imagenes llegan el 10 del 10</p><p class="legend uc-s-info-part__msg">Lorem Ipsum</p></div><div class="uc-s-info-part"><h3 class="important">Saldo</h3><p>22 imagenes</p></div></div><div class="uc-s-actions"><a class="button button--nude" href="">Iniciar suscripción</a><a class="button button--nude" href="">Historial de imagenes</a></div></section><section class="uc-s"><header class="uc-s-header"><h2 class="title">Detalles</h2></header><div class="uc-s-info"><div class="uc-s-info-part"><h3 class="important">lorem@lorem.com</h3><p>*******</p><p class="legend uc-s-info-part__msg">Lorem Ipsum</p></div></div><div class="uc-s-actions"><a class="button button--nude" href="">Cambiar correo</a><a class="button button--nude" href="">Cambiar contraseña</a><a class="button button--nude" href="">Cerrar sessión en todos los dispositivos</a></div></section><section class="uc-s"><header class="uc-s-header"><h2 class="title">Pagos y suscripción</h2></header><div class="uc-s-info"><div class="uc-s-info-part"><h3 class="important">lorem@lorem.com</h3><p>100 fotos al mes | x€ al mes</p><p class="legend uc-s-info-part__msg">Lorem Ipsum</p></div><div class="uc-s-info-part"><h3 class="important">Lorem Ipsum Dolor Sit </h3><p>679534017</p><p>Llinars 213</p><p>Cardedeu</p><p>08844</p><p>Barcelona, Spain</p><p>65768448S</p></div></div><div class="uc-s-actions"><a class="button button--nude" href="">Modificar método de pago</a><a class="button button--nude" href="">Modificar suscripción</a><a class="button button--nude" href="">Modificar información de facturación</a><a class="button button--nude" href="">Historial de facturación</a></div></section></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
