app/templates/html/user_panel/subscription.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="up up--priceplan"><a class="up-back" href="href"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="up-header"> <h1 class="supertitle">Planes de precio</h1></header><div class="toggle"><a class="toggle-button toggle-button--active">Suscripción</a><a class="toggle-button">Saldo</a></div><div class="up-plan_list"><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">5</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">Gratis</span></p><a class="button" href="#{ctaa}">Probar</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Soporte email</li><li>Cambia de plan cuando quieras</li><li>10 llamadas a API gratuitas.</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">100</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">12€ al mes</span><span class="legend">(0,120€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">300</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">33€ al mes</span><span class="legend">(0,110€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">500</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">45€ al mes</span><span class="legend">(0,090€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">1000</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">72€ al mes</span><span class="legend">(0,072€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">2500</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">160€ al mes</span><span class="legend">(0,065€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan"><h2 class="up-plan-header"><span class="up-plan-header__number title">5000</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">290€ al mes</span><span class="legend">(0,058€ por imagen)</span></p><a class="button" href="#{ctaa}">Suscribir</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div><div class="up-plan pm-plan--infinite"><h2 class="up-plan-header"><span class="up-plan-header__number title">∞</span><span>Imagenes</span></h2><p class="up-plan-pricing"><span class="smalltitle">A concretar</span></p><a class="button" href="#{ctaa}">Solicitar información</a><ul class="up-list"><li>6 meses de almacentamiento ilimitado</li><li>Los creditos no caducan durante 6 meses*</li><li>Soporte chat</li><li>Acceso a la API</li><li>Cambia de plan cuando quieras</li></ul></div></div></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>

app/templates/user_panel/subscription.pug
extends /_includes/base.pug
block body-tb
    article.up.up--priceplan
        +up-back("href")
        header.up-header 
            h1.supertitle Planes de precio
        .toggle
            a.toggle-button.toggle-button--active Suscripción
            a.toggle-button Saldo
        .up-plan_list
            mixin pm-plan(number, price, priceimg, ctatxt, ctaa)
                .up-plan(class!=attributes.class)
                    h2.up-plan-header
                        span.up-plan-header__number.title= number
                        span Imagenes
                    p.up-plan-pricing
                        span.smalltitle= price
                        if (priceimg.length)
                            span.legend (#{priceimg}€ por imagen)
                    a.button(href="#{ctaa}")
                        if (ctatxt.length)
                            | #{ctatxt}
                        else
                            | Suscribir
                    ul.up-list
                        if block
                            block
                        else
                            li 6 meses de almacentamiento ilimitado
                            li Los creditos no caducan durante 6 meses*
                            li Soporte chat
                            li Acceso a la API
                            li Cambia de plan cuando quieras

                        
            +pm-plan("5", "Gratis", "", "Probar", "test")
                li 6 meses de almacentamiento ilimitado
                li Soporte email
                li Cambia de plan cuando quieras
                li 10 llamadas a API gratuitas.
            +pm-plan("100", "12€ al mes", "0,120", "", "test")
            +pm-plan("300", "33€ al mes", "0,110", "", "test")
            +pm-plan("500", "45€ al mes", "0,090", "", "test")
            +pm-plan("1000", "72€ al mes", "0,072", "", "test")
            +pm-plan("2500", "160€ al mes", "0,065", "", "test")
            +pm-plan("5000", "290€ al mes", "0,058", "", "test")
            +pm-plan("∞", "A concretar", "", "Solicitar información", "test")(class="pm-plan--infinite")
