app/templates/others/supermin.pug
extends /_includes/base.pug
block body
    .sm
        img.sm__bg(src="{% static 'img/bg-collage.png' %}")
        .sm-cnt
            +up-logo
            div
                h1.supertitle Lorem ipsum dolor sit
                p.subtitle This is a lorem ipsum dolor sit amet. Ipsum latin this that thoe.
            .up-actions
                a.button() Lorem ipsum
                a.button.button--nude() Lorem ipsum

app/templates/html/others/supermin.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><div class="sm"><img class="sm__bg" src="{% static 'img/bg-collage.png' %}"><div class="sm-cnt"><img class="up-logo" src="{% static 'img/logo.svg' %}"><div><h1 class="supertitle">Lorem ipsum dolor sit</h1><p class="subtitle">This is a lorem ipsum dolor sit amet. Ipsum latin this that thoe.</p></div><div class="up-actions"><a class="button">Lorem ipsum</a><a class="button button--nude">Lorem ipsum</a></div></div></div><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
