app/templates/comercial/cover.pug
extends /_includes/base.pug
block body-tb
    article.co
        header.co-hero-wrap
            .co-hero
                .co-hero-comercial
                    h1.supertitle Elimina el fondo de tus imagenes
                    p.co-hero-comercial__intro Sistema de inteligencia artificial para eliminar el fondo de tus imagenes sin esfuerzo. 
                        strong.bold Rapido, automatico y facil.
                    a.button Prueba gratis
                .co-hero-upload
                    img.co-hero-upload__icon(src="{% static 'img/icons/upload.svg' %}")
                    
                    .co-hero-upload-msg
                        span.co-hero-upload-msg__txt Arrastra o pulsa para
                        a.button.button--small Subir imagen
                
                .slider_img.co-hero-img
                    img(src="{% static 'img/examples/girl-top.jpg' %}")
                    img(src="{% static 'img/examples/girl-top-trans.png' %}")
                
                    
            img.co-hero__bg(src="{% static 'img/girlbg.jpg' %}")
        section.co-hei
            header.co-hei-header
                small 1,2,3... plaf!
                h2.supertitle Pon un fondo transparente a tus fotos en un instante
            .co-hei-point_list
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 1. Sube tu imagen
                    .co-hei-point__text
                        p Arrastra o sube la imagen. Debe ser una imagen en el que el sujeto o tema no tenga nada delante y se distinga del fondo.
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 2. Deja que funciona la magia
                    .co-hei-point__text
                        p Espera unos instantes a que nuestro sistema haga la magia.
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 3. Descarga
                    .co-hei-point__text
                        p Ya tienes tu imagen con un fondo transparente.
        section.co-gr
            header.co-gr-header
                h2.supertitle.co-gr-header__title Elimina fondos de tus imagenes de forma rapida y automatica
            section.co-gr-se
                .co-gr-se__img.slider_img
                    img(src="{% static 'img/examples/cat-1.jpg' %}")
                    img(src="{% static 'img/examples/cat-1-trans.png' %}")
                
                header.co-gr-se-header
                    h3.title Creativos y profesionales del sector grafico
                .co-gr-se-txt
                    p Ahorra tiempo en el proceso de recorte de imagenes y dedicalo a tus diseños.
                    p Recorta cualquier cosa de forma automática y rapida: productos, retratos, animales, ...
                    p Cuenta con un resultado profestional impecable.
            section.co-gr-se
                .co-gr-se__img.slider_img
                    img(src="{% static 'img/examples/girl-4.jpg' %}")
                    img(src="{% static 'img/examples/girl-4-trans.png' %}")
                
                header.co-gr-se-header
                    h3.title E-commerce
                .co-gr-se-txt
                    p Aumenta tus vendas con una imagen profesional y clara de tus productos.
                    p Acelera tu proceso de preparación de imagenes y ahorra en costes y en tiempo a mercado.
                    p Ahorra mucho tiempo en la preparación de las imagenes para la creación de bodegones.
        .co-gr.co-gr--negative
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--quick(src="{% static 'img/examples/quick.png' %}")
                
                header.co-gr-se-header
                    h3.title Procesado rapido y senzillo
                .co-gr-se-txt
                    p Solo tienes que subir la imagen: en pocos segundos vas a disponer de una imagen recortada con calidad profesional.
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--block(src="{% static 'img/examples/bulk.png' %}")
                
                header.co-gr-se-header
                    h3.title Subida en bloque
                .co-gr-se-txt
                    p Puedes subir y procesar múltiples imagenes en un solo paso gracias al procesado en bloque.
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--api(src="{% static 'img/examples/api.png' %}")
                
                header.co-gr-se-header
                    h3.title API
                .co-gr-se-txt
                    p Disponemos de una API para automatizar todos tus procesos con tu ecommerce, pagina web o galeria.
        section.co-faq
            header.co-faq-header
                h2.title Preguntas frecuentes
            .co-faq-item_list
                mixin faq-item(question)
                    .co-faq-item
                        .co-faq-item-question.important= question
                        .co-faq-item-cnt
                            if block
                                block 
                            else
                                p Let’s Enhance uses cutting-edge Image Super Resolution technology based on Deep Convolutional Neural Networks. Before appearance of this technology it was impossible to dramatically increase photo or image size without losing quality. Your best option in Photoshop, called Bicubic Interpolation - made your image unsharp and blurry. Those of you on the math side of the things could argue – however you increase image resolution – there is no new information about the image - you just can’t add extra quality! This is not true in a case when Neural Network and AI is used. Our neural network is trained on a huge dataset of images, so it learns typical features of physical objects – bricks of walls, hair and skin. After the network recognises those features on the images uploaded and add extra details, based on its general knowledge the the world.
                +faq-item("This is the end")
                +faq-item("Lorem Pixel a tu")
block bottom-scripts
    script.
        slider();
        coverFAQ();

app/templates/html/comercial/cover.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="co"><header class="co-hero-wrap"><div class="co-hero"><div class="co-hero-comercial"><h1 class="supertitle">Elimina el fondo de tus imagenes</h1><p class="co-hero-comercial__intro">Sistema de inteligencia artificial para eliminar el fondo de tus imagenes sin esfuerzo. <strong class="bold">Rapido, automatico y facil.</strong></p><a class="button">Prueba gratis</a></div><div class="co-hero-upload"><img class="co-hero-upload__icon" src="{% static 'img/icons/upload.svg' %}"><div class="co-hero-upload-msg"><span class="co-hero-upload-msg__txt">Arrastra o pulsa para</span><a class="button button--small">Subir imagen</a></div></div><div class="slider_img co-hero-img"><img src="{% static 'img/examples/girl-top.jpg' %}"><img src="{% static 'img/examples/girl-top-trans.png' %}"></div></div><img class="co-hero__bg" src="{% static 'img/girlbg.jpg' %}"></header><section class="co-hei"><header class="co-hei-header"><small>1,2,3... plaf!</small><h2 class="supertitle">Pon un fondo transparente a tus fotos en un instante</h2></header><div class="co-hei-point_list"><div class="co-hei-point"><img class="co-hei-point__img" src="{% static 'img/icons/upload.svg' %}"><h3 class="co-hei-point__title smalltitle uppercase">1. Sube tu imagen</h3><div class="co-hei-point__text"><p>Arrastra o sube la imagen. Debe ser una imagen en el que el sujeto o tema no tenga nada delante y se distinga del fondo.</p></div></div><div class="co-hei-point"><img class="co-hei-point__img" src="{% static 'img/icons/upload.svg' %}"><h3 class="co-hei-point__title smalltitle uppercase">2. Deja que funciona la magia</h3><div class="co-hei-point__text"><p>Espera unos instantes a que nuestro sistema haga la magia.</p></div></div><div class="co-hei-point"><img class="co-hei-point__img" src="{% static 'img/icons/upload.svg' %}"><h3 class="co-hei-point__title smalltitle uppercase">3. Descarga</h3><div class="co-hei-point__text"><p>Ya tienes tu imagen con un fondo transparente.</p></div></div></div></section><section class="co-gr"><header class="co-gr-header"><h2 class="supertitle co-gr-header__title">Elimina fondos de tus imagenes de forma rapida y automatica</h2></header><section class="co-gr-se"><div class="co-gr-se__img slider_img"><img src="{% static 'img/examples/cat-1.jpg' %}"><img src="{% static 'img/examples/cat-1-trans.png' %}"></div><header class="co-gr-se-header"><h3 class="title">Creativos y profesionales del sector grafico</h3></header><div class="co-gr-se-txt"><p>Ahorra tiempo en el proceso de recorte de imagenes y dedicalo a tus diseños.</p><p>Recorta cualquier cosa de forma automática y rapida: productos, retratos, animales, ...</p><p>Cuenta con un resultado profestional impecable.</p></div></section><section class="co-gr-se"><div class="co-gr-se__img slider_img"><img src="{% static 'img/examples/girl-4.jpg' %}"><img src="{% static 'img/examples/girl-4-trans.png' %}"></div><header class="co-gr-se-header"><h3 class="title">E-commerce</h3></header><div class="co-gr-se-txt"><p>Aumenta tus vendas con una imagen profesional y clara de tus productos.</p><p>Acelera tu proceso de preparación de imagenes y ahorra en costes y en tiempo a mercado.</p><p>Ahorra mucho tiempo en la preparación de las imagenes para la creación de bodegones.</p></div></section></section><div class="co-gr co-gr--negative"><section class="co-gr-se"><img class="co-gr-se__img co-gr-se__img--quick" src="{% static 'img/examples/quick.png' %}"><header class="co-gr-se-header"><h3 class="title">Procesado rapido y senzillo</h3></header><div class="co-gr-se-txt"><p>Solo tienes que subir la imagen: en pocos segundos vas a disponer de una imagen recortada con calidad profesional.</p></div></section><section class="co-gr-se"><img class="co-gr-se__img co-gr-se__img--block" src="{% static 'img/examples/bulk.png' %}"><header class="co-gr-se-header"><h3 class="title">Subida en bloque</h3></header><div class="co-gr-se-txt"><p>Puedes subir y procesar múltiples imagenes en un solo paso gracias al procesado en bloque.</p></div></section><section class="co-gr-se"><img class="co-gr-se__img co-gr-se__img--api" src="{% static 'img/examples/api.png' %}"><header class="co-gr-se-header"><h3 class="title">API</h3></header><div class="co-gr-se-txt"><p>Disponemos de una API para automatizar todos tus procesos con tu ecommerce, pagina web o galeria.</p></div></section></div><section class="co-faq"><header class="co-faq-header"><h2 class="title">Preguntas frecuentes</h2></header><div class="co-faq-item_list"><div class="co-faq-item"><div class="co-faq-item-question important">This is the end</div><div class="co-faq-item-cnt"><p>Let’s Enhance uses cutting-edge Image Super Resolution technology based on Deep Convolutional Neural Networks. Before appearance of this technology it was impossible to dramatically increase photo or image size without losing quality. Your best option in Photoshop, called Bicubic Interpolation - made your image unsharp and blurry. Those of you on the math side of the things could argue – however you increase image resolution – there is no new information about the image - you just can’t add extra quality! This is not true in a case when Neural Network and AI is used. Our neural network is trained on a huge dataset of images, so it learns typical features of physical objects – bricks of walls, hair and skin. After the network recognises those features on the images uploaded and add extra details, based on its general knowledge the the world.</p></div></div><div class="co-faq-item"><div class="co-faq-item-question important">Lorem Pixel a tu</div><div class="co-faq-item-cnt"><p>Let’s Enhance uses cutting-edge Image Super Resolution technology based on Deep Convolutional Neural Networks. Before appearance of this technology it was impossible to dramatically increase photo or image size without losing quality. Your best option in Photoshop, called Bicubic Interpolation - made your image unsharp and blurry. Those of you on the math side of the things could argue – however you increase image resolution – there is no new information about the image - you just can’t add extra quality! This is not true in a case when Neural Network and AI is used. Our neural network is trained on a huge dataset of images, so it learns typical features of physical objects – bricks of walls, hair and skin. After the network recognises those features on the images uploaded and add extra details, based on its general knowledge the the world.</p></div></div></div></section></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>slider();
coverFAQ();</script></body></html>
