app/templates/comercial/faq.pug
extends /_includes/base.pug
block body-tb
    article.fq
        header.fq-header
            .fq-header-cnt
                h1.supertitle API para eliminar fondos
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.button Conseguir una API key
            img.fq-header__img(src="{% static 'img/examples/api.png' %}")
        nav.fq-nav
            ul.fq-nav-item_list
                mixin item_list(name, href)
                    li.fq-nav__item.nude(class!=attributes.class)
                        a(href= href).quiet= name
                +item_list("test", "test")
                +item_list("test", "test")
                +item_list("test", "test")
                +item_list("test", "test")(class="fq-nav__item--sub")
                +item_list("test", "test")(class="fq-nav__item--sub")
                +item_list("test", "test")(class="fq-nav__item--sub")
        .fq-cnt
            section.fq-sc
                header.fq-sc-header
                    h2.title Test
                .fq-sc-main
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .fq-sc-sprt
                    h3.smalltitle Lorem Ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
block bottom-scripts

app/templates/html/comercial/faq.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="fq"><header class="fq-header"><div class="fq-header-cnt"><h1 class="supertitle">API para eliminar fondos</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="button">Conseguir una API key</a></div><img class="fq-header__img" src="{% static 'img/examples/api.png' %}"></header><nav class="fq-nav"><ul class="fq-nav-item_list"><li class="fq-nav__item nude"><a class="quiet" href="test">test</a></li><li class="fq-nav__item nude"><a class="quiet" href="test">test</a></li><li class="fq-nav__item nude"><a class="quiet" href="test">test</a></li><li class="fq-nav__item nude fq-nav__item--sub"><a class="quiet" href="test">test</a></li><li class="fq-nav__item nude fq-nav__item--sub"><a class="quiet" href="test">test</a></li><li class="fq-nav__item nude fq-nav__item--sub"><a class="quiet" href="test">test</a></li></ul></nav><div class="fq-cnt"><section class="fq-sc"><header class="fq-sc-header"><h2 class="title">Test</h2></header><div class="fq-sc-main"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div><div class="fq-sc-sprt"><h3 class="smalltitle">Lorem Ipsum</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div></section></div></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
