app/templates/help/help-cover.pug
extends /_includes/base.pug
block body-tb
    article.hc
        header.hc-header
            h1.supertitle Ayuda
            .fo-line
                .fo-iw
                    .fo-iw-icon.fo-iw-icon--left
                        img.fo-iw-icon__el(src="{% static 'img/icons/search.svg' %}")
                    input.fo-iw__input.fo-iw__input--deactivated#search(type="text" placeholder="Tienes alguna pregunta?" required)
        .hc-category_list
            mixin he-link(name, href)
                li.hc-category-article.important
                    a.hc-category-article__anchor(href=href)= name
            mixin he-category(name, href)
                .hc-category
                    h2.smalltitle= name
                    ul.hc-category-article_list
                        block
                    a.hc-category__more.important(href= href) Ver todas
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
        .hc-questions
            .hc-questions-header
                h2.title ¿Aún con preguntas?
                p.important Puedes encontrarnos de 9 a 17h de lunes a viernes.
            .hc-questions-option_list
                a.hc-questions-option
                    img.hc-questions-option__icon(src="{% static 'img/icons/chat.svg' %}")
                    span Chatea con nosotros
                a.hc-questions-option
                    img.hc-questions-option__icon(src="{% static 'img/icons/phone.svg' %}")
                    span Llamanos


block bottom-scripts

app/templates/html/help/help-cover.html
{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><header class="tb"><div class="tb-top"><a class="tb-logo button button--nude" href=""><img src="{% static 'img/logo.svg' %}"></a><a class="tb-ham"></a></div><nav class="tb-nav"><ul class="tb-nav-user"><li> <a class="button button--small" href=""> Crear cuenta</a></li><li><a class="button button--nude button--small" href=""> Iniciar sessión</a></li></ul><ul class="tb-nav-principal"><li> <a class="button button--nude button--small" href=""> Precios</a></li><li><a class="button button--nude button--small" href=""> API</a></li></ul></nav></header><article class="hc"><header class="hc-header"><h1 class="supertitle">Ayuda</h1><div class="fo-line"><div class="fo-iw"><div class="fo-iw-icon fo-iw-icon--left"><img class="fo-iw-icon__el" src="{% static 'img/icons/search.svg' %}"></div><input class="fo-iw__input fo-iw__input--deactivated" id="search" type="text" placeholder="Tienes alguna pregunta?" required></div></div></header><div class="hc-category_list"><div class="hc-category"><h2 class="smalltitle">Lorem Ipsum</h2><ul class="hc-category-article_list"><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li></ul><a class="hc-category__more important" href="/help/category">Ver todas</a></div><div class="hc-category"><h2 class="smalltitle">Lorem Ipsum</h2><ul class="hc-category-article_list"><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li></ul><a class="hc-category__more important" href="/help/category">Ver todas</a></div><div class="hc-category"><h2 class="smalltitle">Lorem Ipsum</h2><ul class="hc-category-article_list"><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li></ul><a class="hc-category__more important" href="/help/category">Ver todas</a></div><div class="hc-category"><h2 class="smalltitle">Lorem Ipsum</h2><ul class="hc-category-article_list"><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li></ul><a class="hc-category__more important" href="/help/category">Ver todas</a></div><div class="hc-category"><h2 class="smalltitle">Lorem Ipsum</h2><ul class="hc-category-article_list"><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li><li class="hc-category-article important"><a class="hc-category-article__anchor" href="/help/category/article">Lorem Ipsum</a></li></ul><a class="hc-category__more important" href="/help/category">Ver todas</a></div></div><div class="hc-questions"><div class="hc-questions-header"><h2 class="title">¿Aún con preguntas?</h2><p class="important">Puedes encontrarnos de 9 a 17h de lunes a viernes.</p></div><div class="hc-questions-option_list"><a class="hc-questions-option"><img class="hc-questions-option__icon" src="{% static 'img/icons/chat.svg' %}"><span>Chatea con nosotros</span></a><a class="hc-questions-option"><img class="hc-questions-option__icon" src="{% static 'img/icons/phone.svg' %}"><span>Llamanos</span></a></div></div></article><footer class="ft"><a class="ft-logo" href=""><img src="{% static 'img/logo.svg' %}"></a><ul class="ft-links"><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li><li class="legend"><a class="quiet" href="href">text</a></li></ul><p class="legend">rmover.io all rights reserved</p></footer><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script></body></html>
